# Project Todo reminder
TODO

# Build results
[Bb]in/
[Oo]bj/
output
artifacts

# more .NET
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log
*.vs
*.dbmdl
*.dbproj.schemaview


# Cake
tools/**
!tools/packages.config

# ignore test runs
E2E-Logs

# JetBrains IntelliJ IDEA
.idea/
